@model Book

<div class="col-md-8 offset-md-2">
    <form asp-action="EditBook">
        <input hidden asp-for="@Model.BookId" />
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="@Model.BookTitle" class="form-label">Titel</label>
                    <input asp-for="@Model.BookTitle" class="form-control" />
                    <span asp-validation-for="@Model.BookTitle" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.BookAuthor" class="label-control">Författare</label>
                    <input asp-for="@Model.BookAuthor" class="form-control" />
                    <span asp-validation-for="@Model.BookAuthor" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ISBN" class="form-label">ISBN</label>
                    <input asp-for="@Model.ISBN" class="form-control" />
                    <span asp-validation-for="@Model.ISBN" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <div id="bookImg">
                            <img src="@Model.ImageURL" class="img-fluid admin-thumbnail me-1" alt="Image of book" />
                        </div>
                    </div>
                    <div class="col-md-9">
                        <label asp-for="@Model.ImageURL" class="form-label">Bildlänk</label>
                        <input asp-for="@Model.ImageURL" class="form-control" id="bookImgUrl" />
                        <span asp-validation-for="@Model.ImageURL" class="
                              text-danger"></span>
                        <button type="button" class="btn btn-primary mt-2" onclick="UpdateBookImage()">Uppdatera</button>
                    </div>                
                </div>               
            </div>
        </div>      
        <div class="mb-3">
            <label asp-for="@Model.BookDescription" class="form-label">Beskrivning</label>
            <textarea asp-for="@Model.BookDescription" class="form-control"></textarea>
            <span asp-validation-for="@Model.BookDescription" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Spara</button>
    </form>
</div>
