@model Customer
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager
<div class="card">
    <div class="card-body">
        <h2 class="card-title text-decoration-underline">@Model.CustomerFirstName @Model.CustomerLastName</h2>
        <label for="id">Kund-id</label>
        <h4 id="id">@Model.CustomerId</h4>
        <label for="email">Email</label>
        <h4 id="email">@Model.CustomerEmail</h4>
        <label for="phone">Tel.Nummer</label>
        <h4 id="phone">@Model.Phone</h4>
        <label for="address">Adress</label>
        <h4 id="adress">@Model.Address</h4>
        <label for="zipcode">Postnummer</label>
        <h4 id="zipcode">@Model.ZipCode</h4>
        <label for="city">Stad</label>
        <h4 id="city">@Model.City</h4>
    </div>
    <a asp-controller="Customer" asp-action="EditCustomer" asp-route-id="@Model.CustomerId" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
    <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
</div>
